<configuration scan="true" scanPeriod="1 seconds">
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%C] [%t] [%marker] %msg%n%exception{full}</pattern>
    </encoder>
  </appender>
</configuration>